body {
    width: 200px;
    padding: 15px;
    font-family: 'Arial', Arial, Helvetica, sans-serif;
    background: white;
    color: black;
}

.label {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    cursor: pointer;
}